# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Web Components
web-components/*/dist
web-components/*/node_modules
web-components/*/.angular
web-components/*/package-lock.json

# Built web component files are committed for ease of use
# Uncomment the next line if you prefer to build them each time
# public/*.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

